<ion-view title="欢迎进入" hide-nav-bar="true" id="tour">
    <ion-content style="height: 100%">
        <ion-slide-box>
            <ion-slide>
                <img src="images/start_page-01.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="images/start_page-02.jpg"/>
            </ion-slide>
            <ion-slide >
                <img src="images/start_page-03.jpg"/>
                <button class="button button-outline button-dark" ui-sref="tabs.home">点击进入>></button>
            </ion-slide>
        </ion-slide-box>
    </ion-content>

</ion-view>